@page "/"

<div class="wrapper">
    <div class="cubes">
        <div class="leftSide">
            <div class="leftUpSide">
                <div class="buttons">
                    <button @onclick="AddNewDeck">
                        Add
                    </button>
                    <button @onclick="DeleteDeck">
                        Delete
                    </button>
                </div>
                <div class="leftUpCube sideCube">
                    <p class="centerText textCube">Rack</p>
                </div>
            </div>
            <div class="leftDownSide" style="margin-top:25px;">
                <div class="buttons">
                    <button @onclick="AddNewDeck">
                        Add
                    </button>
                    <button @onclick="DeleteDeck">
                        Delete
                    </button>
                </div>
                <div class="leftDownCube sideCube">
                    <p class="centerText textCube">Decktrays</p>
                    <div style="display:flex;justify-content:space-between;padding:0 10px">
                        <label>Amount of decktrays</label>
                        <input type="number" @onchange="numberChange" min="1" max="10" value="1" id="numberGen" />
                    </div>
                </div>
            </div>
        </div>
        <div class="rightSide">
            <div class="liquidHandler">
                @for (int i = 0; i < amountOfDecktrays; i++)
                {
                    <div class="outsideDeckTray" onclick="clickDeckTray(this.id)" id="eDecktray_@i">
                        <div class="lhDeckTray" id="decktray_@i" @onmousedown='() => testMe($"decktray_{i}")'></div>
                        <div class="trapezoid"></div>
                        <div class="editTray" @onclick="() => clickHelp()">
                            <img src="https://cdn-icons-png.flaticon.com/512/45/45706.png" alt="Edit symbol" style="width:55%;" />
                        </div>
                    </div>  
                }
            </div>
        </div>
    </div>
</div>

<style>
    :root {
        --buttonGray: rgb(160, 174, 192);
        --otherGray: #EBEBEB;
        --defaultGray: lightGray;
    }

    #followMe {
        position: fixed; /* Floating above */
        transition: transform 0.1s; /* Sticking effect */
        pointer-events: none; /* Allow clicking trough the div */
    }

    .cubes {
        display: flex;
        align-items: center;
    }

    .leftSide {
        width: 350px;
    }

    .rightSide {
        margin-left: 20px;
        width: 800px;
        height: 450px;
        background: var(--otherGray);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }

    button {
        width: 75px;
        height: 35px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
        background-color: var(--defaultGray);
    }

    .sideCube {
        margin: 10px 0;
        width: 100%;
        height: 275px;
        background: var(--defaultGray);
        border-radius: 15px;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    p.centerText {
        text-align: center;
    }

    p.textCube {
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid black;
        font-weight: 600;
        color: #2b6cb0;
    }

    input#numberGen {
        background: transparent;
        outline: none;

    }

    input#numberGen:focus {
        outline: none;
    }

    .liquidHandler {
        width: 700px;
        height: 250px;
        background: darkGray;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 3px 30px 0 30px;
    }

    .liquidHandler .outsideDeckTray {
        padding: 3px 3px 3px 3px;
        border: 2px solid transparent;
    }

    .liquidHandler .outsideDeckTray:hover {
        border: 2px solid red;
        cursor: pointer;

    }

    .liquidHandler .lhDeckTray {
        height: 175px;
        width: 50px;
        border: 1px solid black;
        border-bottom: none;
        margin: 0 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .liquidHandler .editTray {
        width: 40px;
        height: 30px;
        margin: 5px 7px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        background: lightblue;
        cursor: pointer;
        border-radius: 5px;
    }

    /*.outsideDeckTray {
        position: fixed;
    }*/

    .outsideDeckTray:hover .editTray, .outsideDeckTray .editTray:hover {
        visibility: visible;
    }

    .trapezoid {
        width: 37px;
        height: 23px;
        border: 1px solid black;
        border-top: none;
        transform: perspective(7.7px) rotateX(-10deg);
        margin: 3px 8.5px;
    }
</style>

@code {
    public void AddNewDeck()
    {
        Console.WriteLine("Hello");
    }

    public void DeleteDeck()
    {
        //
    }

    short amountOfDecktrays = 1;

    private void numberChange(ChangeEventArgs e)
    {
        string myNumber = e.Value.ToString();
        amountOfDecktrays = short.Parse(myNumber);

        if (amountOfDecktrays < 1)
        {
            amountOfDecktrays = 1;
        }
        else if (amountOfDecktrays > 10)
        {
            amountOfDecktrays = 10;
        }

        Console.WriteLine(amountOfDecktrays);
    }

    private void testMe(string myId)
    {
        //Console.WriteLine($"my id: {myId.Split("_")[1]}");
    }

    private void clickHelp()
    {
        Console.WriteLine("Clickhelp");
    }
}