@page "/"

<div class="wrapper">
    <h1>Hello world</h1>

    <div class="cubes">
        <div class="leftSide">
            <div class="leftUpSide">
                <div class="buttons">
                    <button @onclick="AddNewDeck">
                        Add
                    </button>
                    <button @onclick="DeleteDeck">
                        Delete
                    </button>
                </div>
                <div class="leftUpCube sideCube"></div>
            </div>

            <div class="leftCubes">
                <div class="leftCubeDown"></div>
            </div>
        </div>
    </div>
</div>

<style>
    :root {
        --buttonGray: rgb(160, 174, 192);
    }

    button {
        width: 75px;
        height: 35px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
        background-color: var(--buttonGray);
    }

    .sideCube {
        margin: 10px 0;
        width: 275px;
        height: 275px;
        background: #B8B8B8;
        border-radius: 15px;
    }
</style>

@code {
    public void AddNewDeck()
    {
        //
    }

    public void DeleteDeck()
    {
        //
    }
}