<div class="myModal">

    <div class="myForm">
        <div class="form-group">
            <label for="amountOfTrays">Amount of trays:</label>
            <input type="number" id="amountOfTrays" value="1" min="1" max="100" @onchange="numberChange" />
        </div>
        <div class="form-group">
            <label for="colorRackPicker">Color picker:</label>
            <input type="color" id="colorRackPicker" value="" />
        </div>
    </div>

    <div class="previewDecktray testing">
        <div class="outsideDeckTray" id="previewDecktrayOutline">
            <div class="lhDeckTray" id="previewDecktray">
                @for (int i = 0; i < inputNumber; i++)
                {
                    float calcAmountOfRacks = 100 / inputNumber;
                    <div id="previewRack_@i" class="previewRack" onclick="ClickPreviewRack(this.id)" style="width:100%;height:@calcAmountOfRacks%;border:1px solid darkgreen;"></div>
                }
            </div>
            <div class="trapezoid"></div>
        </div>
    </div>
</div>
<button>Ok</button>
<button>Cancel</button>

<style>
    .myModal {
        display: flex;
        justify-content: space-between;
    }

    .myForm {
        width: 250px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .form-group input {
        height: 30px;
        width: 60px;
    }

    .previewDecktray {
        margin-left: 10px;
        width: 250px;
        height: 250px;
        background: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

@code {
    const float lengthOfDecktray = 175;
    float lengthOfRack;

    short inputNumber = 1;
    float test;



    private void numberChange(ChangeEventArgs e)
    {
        string myNumber = e.Value.ToString();
        inputNumber = short.Parse(myNumber);

        if (inputNumber < 1)
        {
            inputNumber = 1;
        }
        else if (inputNumber > 100)
        {
            inputNumber = 100;
        }

        Console.WriteLine($"racks: {inputNumber}");
    }

    public string RackSize()
    {
        lengthOfRack = 100 / inputNumber;

        Console.WriteLine(lengthOfRack);
        return lengthOfRack.ToString() + "%";
    }
}